<!DOCTYPE html>
<html>
  <head>
    <link href="css/roboto.css" rel="stylesheet" />
    <!--link href="css/materialdesignicons.min.css" rel="stylesheet"-->
    <link href="css/vuetify.min.css" rel="stylesheet" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
  </head>
  <body>
    <div id="app">
      <v-app>
        <template>
            <v-tabs
            v-model="tab"
            background-color="grey lighten-1"
            class="elevation-2"
            dark
            :centered="centered"
            :grow="grow"
            :vertical="vertical"
            :right="right"
            :prev-icon="prevIcon ? 'mdi-arrow-left-bold-box-outline' : undefined"
            :next-icon="nextIcon ? 'mdi-arrow-right-bold-box-outline' : undefined"
            :icons-and-text="icons"
          >
            <v-tabs-slider color="red" height="ma-4"></v-tabs-slider>
      
            <v-tab
              v-for="i in tabs"
              :key="i"
              :href="`#tab-${i}`"
            >
              {{ tabTitle[i-1] }}
            </v-tab>
      
            <v-tab-item
              v-for="i in tabs"
              :key="i"
              :value="'tab-' + i"
            >
              <v-card
                flat
                tile
              >
                <v-card-text>
                  <v-btn :color="buttonColor" @click="send()"> Button 1 </v-btn>
                </v-card-text>
                <v-card-text>
                  <v-btn @click="sendb()"> Button 2</v-btn>
                </v-card-text>
                <v-card-text>
                  {{ text }}
                </v-card-text>
              </v-card>
            </v-tab-item>
    
        </template>
      </v-app>
    </div>

    <script src="src/vue.js"></script>
    <script src="src/vuetify.js"></script>
    <script>
      var connection = new WebSocket("ws://" + "192.168.0.52" + ":81/", [
        "arduino"
      ]);
      connection.onopen = function() {
        connection.send("Connect " + new Date());
      };
      connection.onerror = function(error) {
        console.log("WebSocket Error ", error);
      };
      connection.onmessage = function(e) {
        console.log("Server: ", e.data);

        if (e.data == "ON") {
          vue.buttonColor = "success";
          console.log("HEEEEE");
        }
        if (e.data == "OFF") {
          vue.buttonColor = "f5f5f5";
          console.log("HEEEEE");
        }
      };

      const vue = new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data() {
          return {
            ex11: [
              "red",
              "indigo",
              "orange",
              "primary",
              "secondary",
              "success",
              "info",
              "warning",
              "error",
              "red darken-3",
              "indigo darken-3",
              "orange darken-3"
            ],
            buttonColor: "f5f5f5",
            tabTitle: ["Stage", "Kronos"],
            tab: null,
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
            icons: false,
            centered: true,
            grow: true,
            vertical: false,
            prevIcon: true,
            nextIcon: true,
            right: false,
            tabs: 2,
          };
        },
        methods: {
          send() {
            connection.send("%001122");
          },
          sendb() {
            connection.send("&001122");
          }
        },
        computed: {
          myToggle: {
            // getter
            get: function() {
              return "hello";
            },
            // setter
            set: function(newValue) {}
          }
        }
      });
    </script>
  </body>
</html>
